@import "./font-family.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
}

.main {
  margin-top: 100px;
  margin-bottom: 100px;
}

@import "./components/heading.scss";
@import "./components/section.scss";

.companies {
  padding: 0;

  @media (min-width: 700px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    @media (min-width: 700px) {
      flex: 1 0 33.333%;
    }
  }

  &__logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  &__link-text {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}

.testimonials {
  list-style: none;
  padding: 0;

  &__item {
    margin-top: 40px;
  }

  &__quote {
    margin: 0;

    &-body {
      font-style: italic;

      &:before,
      &:after {
        content: '"';
      }
    }
  }

  &__author {
    font-size: 0.875rem;

    &:before {
      content: "-";
    }
  }
}
